body {
    float: none;
    background-color: lightblue;
}

.cl1  {
    display: flex;
    justify-content: center;
    color: black;

}

.cl2 ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 40px;
}

.cl2 a {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

ul {
    list-style: none;
}

.cl2 ul a{
    color: black;
    text-decoration: none;
}

.cl3 {
    background-image: url("../Imatges/mountains-4777410_1920.jpg");
    text-align: center;
    border: solid;

}

.cl3 h2 {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}


.cl4 ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cl4 li {
    text-align: center;
    align-items: center;
    list-style: none;
}


.p1 {
    border: solid;
    margin-right: 20px;
    margin-bottom: 20px;
}
.p2 {
    border: solid;
    margin-right: 20px;
    margin-bottom: 20px;
}

.p3 {
    border: solid;
    margin-right: 20px;
    margin-bottom: 20px;
}

.cl4 p a{
    text-decoration: none;

}

.cl4 h3 a {
    text-decoration: none;
    color: black;
}

.cl4 h2 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.cl4 img {
    height: 300px;
    width: 500px;
    margin-right: 10px;
    margin-left: 10px;
}

.tortuga {
    margin-left: 100px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
}

.lutra {
    margin-left: 100px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
}

.ratpanat  {
    margin-left: 100px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
}

.cl5 h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.cl5 ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 50px;
}

.cl5 li a  {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    color: black;
    text-decoration: none;
}

.cl6 {
    display: flex;
    flex-direction: column;
    border: solid;
}

.cl6 h2{
    display: flex;
    justify-content: center;
}

.cl6 p{
    display: flex;
    justify-content: center;
}

.cl6 li a {
    display: flex;
    justify-content: center;
    margin-right: 30px;
    color: black;
    text-decoration: none;
}

#imatge {
    display: flex;
    margin-left: 890px;
}

.cl6 ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@media (max-width: 500px) {
    .cl1 {
        display: flex;
        justify-content: center;
        color: black;

    }

    .cl3 h2 {
        padding-top: 20px;
        display: flex;
        justify-content: center;
    }

    .cl6 ul {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}